pandas==1.1.1
numpy==1.21.4
re==2.2.1
scikit-learn==1.0.1
seaborn==0.11.0
matplotlib==3.3.1
shap==0.40.0
catboost==1.0.3
xgboost==1.5.1
imbalanced-learn==0.8.0
scipy==1.4.1
pydicom==2.2.2
tqdm==4.62.3
cv2==4.1.0
torch==1.10.0+cpu
shap==0.40.0
skimage==0.16.2
kornia==0.6.2
monai==0.8.0